<div class="container">
  <!--The content below is only a placeholder and can be replaced.-->
  <header>
    <h1>
      Auditor Exámenes
    </h1>
  </header>
  <!-- Barra de navegación-->
  <ul class="nav nav-tabs">
    <li class="nav-item" routerLinkActive="selecc"
    routerLinkActiveOptions="{exact:true}">
      <a class="nav-link " routerLink="/register" >
        <fa-icon [icon]="faPlus" ></fa-icon> Registro examen</a>
      
  </li>
  <li class=" nav-item" routerLinkActive="selecc"
            routerLinkActiveOptions="{exact:true}">
          <a class="nav-link" routerLink="/check"  > <fa-icon [icon]=" faCheckCircle"></fa-icon> Comprobar examen
      </a>
    </li>

  </ul>

  <!-- 
    Zona dinamica
-->
  <router-outlet></router-outlet>

</div>