<header>
  <br>
  <h5>
    Subir examen
  </h5>
  <hr>
</header>
<br>

<form [formGroup]="myForm" (ngSubmit)="submit()">
  
  <div class="form-group">
      <label for="name">Nombre</label>
      <input 
          formControlName="name"
          id="name" 
          type="text" 
          class="form-control">
      <div *ngIf="f.name.touched && f.name.invalid" class="alert alert-danger">
          <div *ngIf="f.name.errors.required">Es necesario el nombre del alumno.</div>
          <div *ngIf="f.name.errors.minlength">Mínimo 3 caracteres.</div>
      </div>
      <label for="subject">Asignatura</label>
      <input 
          formControlName="subject"
          id="subject" 
          type="text" 
          class="form-control">
      <div *ngIf="f.name.touched && f.name.invalid" class="alert alert-danger">
          <div *ngIf="f.name.errors.required">Es necesario la asignatura.</div>
          <div *ngIf="f.name.errors.minlength">Mínimo 3 caracteres.</div>
      </div>
  </div>
    
  <div class="form-group">
      <label for="file">Examen</label>
      <input 
          formControlName="file"
          id="file" 
          type="file" 
          class="form-control"
          (change)="onFileChange($event)">
      <div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger">
          <div *ngIf="f.file.errors.required">Es necesario seleccionar el examen.</div>
      </div>
  </div>
        
  <button class="btn btn-primary" type="submit">Registrar</button>

</form>
