

     
<br> 
        <div class="col-md-12">
          <div class="row">
      
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
           
            </div>
            <div class="col-md-4">
             
           
            </div>
          </div>
        </div>
 <br>
 <br>
 
 
    <div class="container" id="contAll">
      <div id="titulo">
        <h2 style="text-align: center;">EXAMEN REGISTRADO EN BLOCKCHAIN</h2>
      </div>
      <div id="titulo">
        <h4 style="text-align: center;">RED UNIVERSIDADES - MINISTERIO </h4>
      </div>
      <br>
      <img class="rounded mx-auto d-block"  src="assets/image/escudo_teleco.png" alt="Card image cap">
     <br>
      <div id="titulo2">
        <h3 style="text-align: center;">Ingeniería de Tecnologías y Servicios de Telecomunicación </h3>
      </div>
    <br>
    <br>
      <div class="titulo">
        <span><b>Alumno: &nbsp;</b>{{ exam_data.name }}</span>
      </div>
      <div class="titulo">
        <span><b>Asignatura: &nbsp;</b>{{ exam_data.subject }}</span>
      </div>
      <div class="titulo">
        <span><b>Firma del examen: &nbsp;</b> {{ exam_data.hash }}</span>
      </div>
      <div class="titulo">
        <span><b>Fecha de registro: &nbsp;</b>{{ exam_data.timeStamp | date:'d/M/yy, h:mm a'}}</span>
      </div>
      <div class="titulo">
        <span><b>Firma de la transacción: &nbsp;</b>{{ exam_data.txId}}</span>
      </div>
    </div>
 
      <br>
      <div> <button type="button" class="btn btn-primary" (click)="generatePDF()">Descargar PDF</button></div>
      <br>
      <br>
      
         
  

  
