

     
<br> 
        <div class="col-md-12">
          <div class="row">
      
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
           
            </div>
            <div class="col-md-4">
             
              <button type="button" class="btn btn-primary" (click)="backtoRegister()"> Registrar otro Examen </button>
            </div>
          </div>
        </div>
 <br>
 <br>
 
  
    <div class="container" id="contAll">
      <div id="titulo">
        <h2 style="text-align: center;">EXAMEN REGISTRADO</h2>
      </div>
      <br>
      <div> <button type="button" class="btn btn-success" (click)="generatePDF()">Descargar PDF</button></div>
      <br>
      <br>
      
         
  
    </div>
  
